.day {
    line-height: 9vh;
}

.square {
    position: relative;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}

.today {
    position: relative;
    background: #999999;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.0vw;
    width: 30px;
    height: 30px;

    background-color: rgba(125, 125, 125, 0);
    color: #d8d8d8;
    border-radius: 5px;
}

.weekend {
    position: relative;
    background: white;
    color: red;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}


.preWeekend {
    background: white;
    color: red;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    line-height: 9vh;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}

.notButtonSquare {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    line-height: 9vh;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
    color: #999999;
}

.dateName {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 3.0vw;
    font-weight: bold;
    line-height: 9vh;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}

.preWeekend {
    background: white;
    color: red;
    border: 1px solid #999;
    float: left;
    font-size: 2.0vw;
    font-weight: bold;
    line-height: 9vh;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 9vw;
}