h2 {
    margin: 0;
}
h3 {
    margin: 0;
    margin-top: 5px;
}

.FormContainer {
    position: absolute;
    top: 15vh;
    left: 15vw;
    right: 15vw;
    bottom: 15vh;
    z-index: 16;
    background-color: white;
    border-radius: 5px;

    -webkit-box-shadow: 32px 28px 37px 25px rgba(0,0,0,0.83);
    -moz-box-shadow: 32px 28px 37px 25px rgba(0,0,0,0.83);
    box-shadow: 32px 28px 37px 25px rgba(0,0,0,0.83);


    opacity: 0.99;

}

/*word-wrap: break-word;*/


.row {
    display: flex;
    z-index: 17;

}

.title {
    margin-left: 20px;

}

.nameModal {
    display: grid;
    width: 100%;
    height: 7vh;
    justify-content: center;
    line-height: 7vh;
}

/*Кнопка Закрытия*/
.closeButton {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1em;
    line-height: 3vh;
    height: 3vh;
    width: 3vw;
    border-radius: 20px;
    transition: background-color 0.3s linear;
    outline: none;
}

.closeButton:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.events {

}
.form {
    display: grid;
    justify-content: center;
}
textarea {
    width: 55vw;
    height: 10vh;
    font-size: 13px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;

    padding: 5px;
    resize: none;

}

.addButton {
    display: grid;
    justify-content: center;

    height: 5vh;

    background-color: white;

}
.addButton button {
    background-color: white;
    transition: background-color 0.5s linear;
    border-radius: 5px;
    outline: none;
    width: 15vh;
    font-size: 15px;
}

.addButton button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}