ul {
    /*overflow: inherit;*/
    height: 38vh;
    width: 65vw;
    overflow: auto;
    margin-left: 5vw;


    word-break: break-all;

}
.liList{
    display: flex;

    width: 100vw;
    max-width: 58vw;




}
.dellButton {
    height: 2vh;
    width: 2vw;
    border-radius: 50%;
    transition: background-color 0.3s linear;
    font-size: 10px;
    line-height: 2vh;

    margin: 5px;
    outline: none;
}

.dellButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.liItem {
    margin: 5px;
}

.liItem hr {
    width: 55vw;
}